.container {
    padding: 10px;
    flex-direction: column;
    height: 100%;
}

.bottombuttons {
    flex-direction: column;
    justify-content: flex-end
}


/* HACKY MOBILE VIEW */
@media screen and (max-width: 750px) {
    .buttonscontainer {
        display: flex;
        flex-direction: row !important;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: var(--shell-small-sidebar-width);
        outline: 1px solid var(--shell-border-color);
    }
}