:root {
    --shell-body-color: var( --mantine-color-body);
    
    --shell-big-sidebar-color: var(--mantine-color-default);
    
    --shell-small-sidebar-color: var(--shell-body-color);
    /* --shell-small-sidebar-colors: var(--mantine-color-default-hover); */
    
    --shell-inner-header-color: var(--shell-big-sidebar-color);


    --shell-footer-color: var(--shell-small-sidebar-color);
    --shell-footer-height: 75px;

    --shell-header-height: 50px;
    --shell-inner-header-hight: var(--shell-header-height);

    --big-sidebar-width: 250px;
    --shell-small-sidebar-width: var(--shell-header-height);


    --shell-border-color: var(--mantine-color-default-border);
}

:root[data-mantine-color-scheme="light"] {
    --shell-big-sidebar-color: rgb(236, 236, 236);
    --shell-big-sidebar-border: 1px solid var(--mantine-color-default-border);
}

.spacer {
    flex: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }